*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}
.menu{
    background-color: #808c97;
    letter-spacing: .2rem;
    word-spacing: 1rem;
    padding: 5px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: white;
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero
{
    background-image: url(./bg\ image.jpg);
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    background-position: top center;
    position: relative;
}
#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .3;
}
#hero .hero{
    max-width: 1200%;
    margin: 0 auto;
    padding: 100px 400px;
    justify-content: flex;
}
#hero h1{
    display: block;
    width: max-content;
    font-size: 40px;
    position: relative;
    color: black;
}
#hero h2{
    display: block;
    width: max-content;
    font-size: 40px;
    position: relative;
    color:black;
}
#hero h3{
    display: block;
    width: max-content;
    font-size: 40px;
    position: relative;
    color:black;
}
#aboutme{
    background-color: #dabcb2;
}
#aboutme .aboutme{
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#aboutme .aboutme-title{
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    color: black;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
#aboutme .aboutme-top p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5px;
    line-height: 1.3rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
#skills{
    background-color: gray;
}
#skills .skills-title{
    padding: 0;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    color: black;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    bottom: 50px;
}
#skills .skills-top p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5px;
    line-height: 1.3rem;
    font-weight: 300;
    letter-spacing: .05rem;
    align-items: center;
}